$text-primary: #ececec;
$text-secondary: #b6b6b6;
$bg-primary: #23232e;
$bg-secondary: #141418;
$accent: #0bbbda;
/* 
$bg-primary: #ececec;
$bg-secondary: #b8b8b8;
$text-primary: #32323d;
$text-secondary: #616163;
$accent: #e73b80;
 */
