.alert {
  position: absolute;
  padding: 0.8rem;
  opacity: 0.9;
  border: none;
  border-radius: 0;
  color: white;
  width: 80%;
  margin: 0 10%;
  text-align: center;

  @media screen and (min-width: 1000px) {
    margin: 0 30%;
    width: 40%;
  }
}

.alert-dark {
  background-color: rgb(44, 44, 44);
}

.alert-danger {
  background-color: rgb(185, 56, 56);
}

.alert-success {
  background-color: rgb(18, 145, 81);
}
